<h1>Your CVs</h1>

<a routerLink="create" class="btn btn-primary">Create new</a>

<div class="table-responsive">
  <table class="table mb-0" *ngIf="cvs$ | async as cvs">
    <thead>
      <tr>
        <th>Name</th>
        <th>CreatedOn</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let cv of cvs">
      <tr>
        <td>{{ cv.name }}</td>
        <td>{{ cv.createdOn | date: 'shortDate' }}</td>
        <td>
          <a routerLink="details/{{cv.id}}" class="btn btn-primary">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
