<div class="container-fluid">
  <!-- <h2 class="text-center text-primary">Jobs</h2> -->
  <div class="row mt-3">
    <div class="input-group w-50 mx-auto mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" (click)="showOrHideFilters()">
          <i class="fas fa-sliders-h"></i>
          {{buttonText}}
        </button>
      </div>
      <input class="form-control" [(ngModel)]="searchText" id="searchText" type="text"
        placeholder="You can search by Job Title or Company" style="font-style: italic;">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="searchJob()">Search</button>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-around" *ngIf="showFilters">
    <div class="form-group">
      <label class="form-control-label" for="itemsCount">Items:</label>
      <select id="itemsCount" class="form-control" (change)="changeItemsCount($event)">
        <option *ngFor="let c of itemsCountArray" [value]="c">{{c}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="filterLocation">Filter by Location:</label>
      <select id="filterLocation" class="form-control" (change)="changeFilterLocation($event)">
        <option value="">All</option>
        <option *ngFor="let l of locationsArray" [value]="l">{{l}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="filterCategory">Filter by Category:</label>
      <select id="filterCategory" class="form-control" (change)="changeFilterCategory($event)">
        <option value="0">All</option>
        <option *ngFor="let c of categories$ | async" [value]="c['id']">{{c['name']}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="filterEngagement">Filter by Engagement:</label>
      <select id="filterEngagement" class="form-control" (change)="changeFilterEngagement($event)">
        <option value="0">All</option>
        <option *ngFor="let e of engagements$ | async" [value]="e['id']">{{e['name']}}</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="sortBy">Sort by:</label>
      <select id="sortBy" class="form-control" (change)="changeSortBy($event)">
        <option value="Salary">Salary</option>
        <option value="Published" selected>Published</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="order">Order:</label>
      <select id="order" class="form-control" (change)="changeOrder($event)">
        <option value="ASC">Asc</option>
        <option value="DESC" selected>Desc</option>
      </select>
    </div>

  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover mt-3">
      <thead class="thead-ligth">
        <tr class="th-color">
          <th>Position</th>
          <th>Location</th>
          <th>Salary</th>
          <th>Engagement</th>
          <th>Category</th>
          <th>Posted On</th>
          <th>Company</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jobAd of jobAds">
          <td class="td-center"><a [routerLink]="['/jobs/details', jobAd.id]">{{jobAd.position}}</a></td>
          <td class="td-center">{{jobAd.location}}</td>
          <td class="td-center">{{jobAd.salary === null ? '-' : jobAd.salary}}</td>
          <td class="td-center">{{jobAd.jobEngagement}}</td>
          <td class="td-center">{{jobAd.jobCategory}}</td>
          <td class="td-center">{{jobAd.postedOn | date:'longDate'}}</td>
          <td class="td-center">{{jobAd.companyName}}</td>
          <td>
            <div class="rounded float-right">
              <img [src]="jobAd.companyLogo" class="rounded table-company-logo" alt="Company Logo">
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  <div class="w-50 mx-auto">
    <app-app-pagination [totalRecords]="totalCount" [recordsPerPage]="itemsCount"
      (onPageChange)="loadActivePageItems($event)">
    </app-app-pagination>
  </div>
</div>
</div>
