<div class="container-fluid">
  <h1 class="text-center text-primary">Register company</h1>
  <hr class="bg-primary w-75" style="height: 2px;" />
  <form [formGroup]="form" (submit)="registerCompany()">
    <div class="d-flex justify-content-around">
      <!-- Username -->
      <div class="form-group w-25">
        <div class="form-group">
          <label class="form-control-label" for="username">Username</label>
          <input class="form-control" id="username" formControlName="username" type="text">
        </div>
        <div class="alert alert-danger" *ngIf="f.username.touched && f.username.errors?.required">
          Username field is required!
        </div>
        <div class="alert alert-danger" *ngIf="f.username.errors?.minlength">
          Username length must be at least {{f.username.errors.minlength.requiredLength}} characters!
        </div>
        <div class="alert alert-danger" *ngIf="f.username.errors?.maxlength">
          Username length must up to {{f.username.errors.maxlength.requiredLength}} characters!
        </div>
      </div>
      <!-- Email -->
      <div class="form-group w-25">
        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input class="form-control" id="email" formControlName="email" type="text">
        </div>
        <div class="alert alert-danger" *ngIf="f.email.touched && f.email.errors?.required">
          Email field is required!
        </div>
        <div class="alert alert-danger" *ngIf="f.email.errors?.pattern">
          Invalid email!
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-around">
      <div class="form-group w-25">
        <!-- Password -->
        <div class="form-group">
          <label class="form-control-label" for="password">Password</label>
          <input class="form-control" id="password" formControlName="password" type="password">
        </div>
        <div class="alert alert-danger" *ngIf="f.password.touched && f.password.errors?.required">
          This field is required!
        </div>
        <div class="alert alert-danger" *ngIf="f.password.errors?.minlength">
          Length must be at least {{f.password.errors.minlength.requiredLength}} characters!
        </div>
      </div>
      <div class="form-group w-25">
        <!-- Confirm Password -->
        <div class="form-group">
          <label class="form-control-label" for="confirmPassword">Confirm Password</label>
          <input class="form-control" id="confirmPassword" formControlName="confirmPassword" type="password">
        </div>
        <div class="alert alert-danger" *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.required">
          This field is required!
        </div>
        <div class="alert alert-danger" *ngIf="f.confirmPassword.errors?.minlength">
          Length must be at least {{f.confirmPassword.errors.minlength.requiredLength}} characters!
        </div>
        <div class="alert alert-danger" *ngIf="f.confirmPassword.errors?.mustMatch">
          Passwords must match!
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-around">
      <div class="form-group w-25">
        <div class="form-group">
          <label class="form-control-label" for="firstName">First Name</label>
          <input class="form-control" id="firstName" formControlName="firstName" type="text">
        </div>
        <div class="alert alert-danger" *ngIf="f.firstName.touched && f.email.errors?.required">
          This field is required!
        </div>
        <div class="alert alert-danger" *ngIf="f.firstName.errors?.minlength">
          Length must be at least {{f.firstName.errors.minlength.requiredLength}} characters!
        </div>
        <div class="alert alert-danger" *ngIf="f.firstName.errors?.maxlength">
          Length must up to {{f.firstName.errors.maxlength.requiredLength}} characters!
        </div>
      </div>
      <div class="form-group w-25">
        <div class="form-group">
          <label class="form-control-label" for="middleName">Middle Name</label>
          <input class="form-control" id="middleName" formControlName="middleName" type="text">
        </div>
        <div class="alert alert-danger" *ngIf="f.middleName.touched && f.email.errors?.required">
          This field is required!
        </div>
        <div class="alert alert-danger" *ngIf="f.middleName.errors?.minlength">
          Length must be at least {{f.middleName.errors.minlength.requiredLength}} characters!
        </div>
        <div class="alert alert-danger" *ngIf="f.middleName.errors?.maxlength">
          Length must up to {{f.middleName.errors.maxlength.requiredLength}} characters!
        </div>
      </div>
      <div class="form-group w-25">
        <div class="form-group">
          <label class="form-control-label" for="lastName">Last Name</label>
          <input class="form-control" id="lastName" formControlName="lastName" type="text">
        </div>
        <div class="alert alert-danger" *ngIf="f.lastName.touched && f.email.errors?.required">
          This field is required!
        </div>
        <div class="alert alert-danger" *ngIf="f.lastName.errors?.minlength">
          Length must be at least {{f.lastName.errors.minlength.requiredLength}} characters!
        </div>
        <div class="alert alert-danger" *ngIf="f.lastName.errors?.maxlength">
          Length must up to {{f.lastName.errors.maxlength.requiredLength}} characters!
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-around">
      <!-- Company name -->
      <div class="form-group w-25">
        <div class="form-group">
          <label class="form-control-label" for="companyName">Company name</label>
          <input class="form-control" id="companyName" formControlName="companyName" type="text">
        </div>
        <div class="alert alert-danger" *ngIf="f.companyName.touched && f.companyName.errors?.required">
          This field is required!
        </div>
        <div class="alert alert-danger" *ngIf="f.companyName.errors?.minlength">
          Length must be at least {{f.companyName.errors.minlength.requiredLength}} characters!
        </div>
        <div class="alert alert-danger" *ngIf="f.companyName.errors?.maxlength">
          Length must be up to {{f.companyName.errors.maxlength.requiredLength}} characters!
        </div>
      </div>
      <!-- Company logo -->
      <div class="form-group w-25">
        <label class="form-control-label" for="companyLogoUrl">Company Logo Url</label>
        <input class="form-control" id="companyLogoUrl" formControlName="companyLogo" type="text">
        <div class="alert alert-danger" *ngIf="f.companyLogo.touched && f.companyLogo.errors?.required">
          This field is required!
        </div>
      </div>
      <!-- Bulstat -->
      <div class="form-group w-25">
        <div class="form-group">
          <label class="form-control-label" for="bulstat">Bulstat</label>
          <input class="form-control" id="bulstat" formControlName="bulstat" type="text">
        </div>
        <div class="alert alert-danger" *ngIf="f.bulstat.touched && f.bulstat.errors?.required">
          This field is required!
        </div>
        <div class="alert alert-danger" *ngIf="f.bulstat.errors?.minlength">
          Length must be at least {{f.bulstat.errors.minlength.requiredLength}} characters!
        </div>
        <div class="alert alert-danger" *ngIf="f.bulstat.errors?.maxlength">
          Length must be up to {{f.bulstat.errors.maxlength.requiredLength}} characters!
        </div>
      </div>
    </div>
    <hr class="bg-primary w-75" style="height: 2px;"/>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" [disabled]="!form.valid" class="btn bg-primary">Register</button>
    </div>
  </form>
</div>
