<form [formGroup]="languagesForm">
  <div *ngFor="let languageInfo of l.controls; let i = index">
    <h5>Language Info {{i + 1}}</h5>
    <div [formGroup]="languageInfo">
      <mat-form-field>
        <input matInput type="text" placeholder="Language" formControlName="languageType">
        <mat-hint>Enter Language.</mat-hint>
        <mat-error *ngIf="lf.languageType?.touched && lf.languageType?.errors?.required">Language is required!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Comprehension" formControlName="comprehension">
        <mat-hint>Enter comprehension level.</mat-hint>
        <mat-error *ngIf="lf.comprehension?.touched && lf.comprehension?.errors?.required">Comprehension level is
          required!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Speaking level" formControlName="speaking">
        <mat-hint>Enter Speaking level.</mat-hint>
        <mat-error *ngIf="lf.speaking?.touched && lf.speaking?.errors?.required">Speaking level is required!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Writing level" formControlName="writing">
        <mat-hint>Enter Writing level.</mat-hint>
        <mat-error *ngIf="lf.writing?.touched && lf.writing?.errors?.required">Speaking level is required!</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-button (click)="addNewLanguageInfoForm()">Add another</button>
    <button mat-button (click)="removeLastLanguageInfoForm()">Remove last</button>
  </div>
  <div>
    <button mat-button matStepperNext (click)="emitData()">Next</button>
  </div>
</form>
