<form [formGroup]="languagesForm">
  <div *ngFor="let lInfo of l.controls; let i = index">
    <h5>Language Info {{i + 1}}</h5>
    <div [formGroup]="lInfo">
      <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select formControlName="languageType">
          <mat-option *ngFor="let l of languageTypes | async" [value]="l.value">
            {{l.viewValue}}
          </mat-option>
        </mat-select>
        <mat-hint>Select education level.</mat-hint>
        <mat-error *ngIf="lInfo.controls.languageType?.touched && lInfo.controls.languageType.errors?.required">
          Language is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Comprehension level</mat-label>
        <mat-select formControlName="comprehension">
          <mat-option *ngFor="let l of languageLevels | async" [value]="l.value">
            {{l.viewValue}}
          </mat-option>
        </mat-select>
        <mat-hint>Select comprehension level.</mat-hint>
        <mat-error *ngIf="lInfo.controls.comprehension?.touched && lInfo.controls.comprehension.errors?.required">
          Comprehension level is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Speaking level</mat-label>
        <mat-select formControlName="speaking">
          <mat-option *ngFor="let l of languageLevels | async" [value]="l.value">
            {{l.viewValue}}
          </mat-option>
        </mat-select>
        <mat-hint>Select speaking level.</mat-hint>
        <mat-error *ngIf="lInfo.controls.speaking?.touched && lInfo.controls.speaking.errors?.required">
          Speaking level is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Wiring level</mat-label>
        <mat-select formControlName="writing">
          <mat-option *ngFor="let l of languageLevels | async" [value]="l.value">
            {{l.viewValue}}
          </mat-option>
        </mat-select>
        <mat-hint>Select writing level.</mat-hint>
        <mat-error *ngIf="lInfo.controls.writing?.touched && lInfo.controls.writing.errors?.required">
          Writing level is required!
        </mat-error>
      </mat-form-field>

    </div>
  </div>
  <div>
    <button mat-button color="primary" (click)="addNewLanguageInfoForm()">Add another</button>
    <button mat-button color="primary" (click)="removeLastLanguageInfoForm()">Remove last</button>
  </div>
  <div>
    <button type="submit" [disabled]="!languagesForm.valid" mat-button matStepperNext (click)="emitData()">Next</button>
  </div>
</form>
