<form [formGroup]="cvInfoForm">
  <mat-form-field>
    <input matInput type="text" placeholder="Name" formControlName="name">
    <mat-hint>Enter cv name.</mat-hint>
    <mat-error *ngIf="f.name.touched && f.name.errors?.required">CV name is required!</mat-error>
    <mat-error *ngIf="f.name.errors?.minlength">
      CV name length must be at least {{f.name.errors.minlength.requiredLength}} characters!
    </mat-error>
    <mat-error *ngIf="f.name.errors?.maxlength">
      CV name length must be no more than {{f.name.errors.maxlength.requiredLength}} characters!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Picture Url" formControlName="pictureUrl">
    <mat-hint>Paste picture url.</mat-hint>
    <mat-error *ngIf="f.pictureUrl.touched && f.pictureUrl.errors?.required">Picture url is required!
    </mat-error>
    <mat-error *ngIf="f.pictureUrl.errors?.pattern">
      Url is invalid!
    </mat-error>
  </mat-form-field>
  <div>
    <button mat-button color="primary" matStepperNext (click)="emitData()">Next</button>
  </div>
</form>
