<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <ul class="nav nav-underline justify-content-start">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/home">JF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/jobs-all">Jobs</a>
      </li>
      <li *ngIf="isAuthenticated && isCompany" class="nav-item">
        <a class="nav-link" routerLink="/job-advertisement/create">Post new</a>
      </li>
    </ul>

    <ul class="nav nav-underline justify-content-end">
      <li *ngIf="!isAuthenticated" jfDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Register</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/register-user">as User</a>
          <a class="dropdown-item" routerLink="/register-company">as Company</a>
        </div>
      </li>
      <li *ngIf="!isAuthenticated" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuthenticated && !isCompany" class="nav-item">
        <a class="nav-link" routerLink="users/profile">
          <i>{{ userName }}</i>
        </a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>

  </div>
</nav>
