<form [formGroup]="skillsForm">
  <div class="d-flex justify-content-start gap-3 mt-3">

    <mat-form-field>
      <textarea matInput type="text" placeholder="Computer skills" formControlName="computerSkills"></textarea>
      <mat-hint>Enter computer skills.</mat-hint>
      <mat-error *ngIf="sf['computerSkills']?.errors?.['minlength']">
        Computer skills length must be at least {{sf['computerSkills'].errors?.['minlength']['requiredLength']}}
        characters!
      </mat-error>
      <mat-error *ngIf="sf['computerSkills'].errors?.['maxlength']">
        Computer skills length must be no more than {{sf['computerSkills'].errors?.['maxlength']['requiredLength']}}
        characters!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput type="text" placeholder="Other skills" formControlName="otherSkills"></textarea>
      <mat-hint>Enter other skills.</mat-hint>
      <mat-error *ngIf="sf['otherSkills'].errors?.['minlength']">
        Skills length must be at least {{sf['otherSkills'].errors?.['minlength']['requiredLength']}} characters!
      </mat-error>
      <mat-error *ngIf="sf['otherSkills'].errors?.['maxlength']">
        Skills length must be no more than {{sf['otherSkills'].errors?.['maxlength'].requiredLength}} characters!
      </mat-error>
    </mat-form-field>

  </div>

  <div class="d-flex justify-content-start gap-3 mt-3">

    <mat-form-field>
      <mat-label>Driving Categories</mat-label>
      <mat-select [formControl]="drivingLicenseCategories" multiple [compareWith]="compareFn">
        @for (lc of drivingCategories(); track lc.id) {
        <mat-option [value]="lc">{{ lc.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="hasManagedPeople">
      Managed People?
    </mat-checkbox>

  </div>

  <button *ngIf="!isEditMode" type="submit" [disabled]="!skillsForm.valid" mat-button class="mt-2" matStepperNext
    (click)="emitData()">
    Next
  </button>

  <button *ngIf="isEditMode" type="submit" [disabled]="!skillsForm.valid" mat-button class="mt-2" (click)="emitData()">
    Update
  </button>
</form>
