<form [formGroup]="educationsForm">
  <div *ngFor="let e of ed.controls; let i = index">
    <h5>Education details {{i + 1}}</h5>
    <div [formGroup]="e">
      <mat-form-field>
        <input matInput [matDatepicker]="fromDateEducationPicker" placeholder="Choose start date"
          formControlName="fromDate">
        <mat-datepicker-toggle matSuffix [for]="fromDateEducationPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDateEducationPicker></mat-datepicker>
        <mat-error *ngIf="e['controls'].fromDate?.touched && e['controls'].fromDate?.errors?.required">Start date is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="toDateEducationPicker" placeholder="Choose end date" formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="toDateEducationPicker"></mat-datepicker-toggle>
        <mat-datepicker #toDateEducationPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Location" formControlName="location">
        <mat-hint>Enter Location.</mat-hint>
        <mat-error *ngIf="e['controls'].location?.touched && e['controls'].location?.errors?.required">Location is required!
        </mat-error>
        <mat-error *ngIf="e['controls'].location?.errors?.minlength">
          Location length must be at least {{e['controls'].location.errors.minlength.requiredLength}} characters!
        </mat-error>
        <mat-error *ngIf="e['controls'].location?.errors?.maxlength">
          Location length must be no more than {{e['controls'].location?.errors.maxlength.requiredLength}} characters!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Education Level</mat-label>
        <mat-select formControlName="educationLevel">
          <mat-option *ngFor="let e of educationLevels | async" [value]="e.value">
            {{e.viewValue}}
          </mat-option>
        </mat-select>
        <mat-hint>Select education level.</mat-hint>
        <mat-error *ngIf="e['controls'].educationLevel?.touched && e['controls'].educationLevel.errors?.required">
          Education level is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Organization" formControlName="organization">
        <mat-hint>Enter Organization.</mat-hint>
        <mat-error *ngIf="e['controls'].organization?.touched && e['controls'].organization?.errors?.required">Organization is required!
        </mat-error>
        <mat-error *ngIf="e['controls'].organization?.errors?.minlength">
          Organization length must be at least {{ e['controls'].organization?.errors.minlength.requiredLength}} characters!
        </mat-error>
        <mat-error *ngIf="e['controls'].organization?.errors?.maxlength">
          Organization length must be no more than {{ e['controls'].organization?.errors.maxlength.requiredLength }} characters!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Major" formControlName="major">
        <mat-hint>Enter major.</mat-hint>
        <mat-error *ngIf="e['controls'].major?.touched && e['controls'].major?.errors?.required">Major is required!
        </mat-error>
        <mat-error *ngIf="e['controls'].major?.errors?.minlength">
          Major length must be at least {{e['controls'].major?.errors.minlength.requiredLength}} characters!
        </mat-error>
        <mat-error *ngIf="e['controls'].major?.errors?.maxlength">
          Major length must be no more than {{e['controls'].major?.errors.maxlength.requiredLength}} characters!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput type="text" placeholder="Main subjects" formControlName="mainSubjects"></textarea>
        <mat-hint>Enter main subjects.</mat-hint>
        <mat-error *ngIf="e['controls'].mainSubjects?.errors?.minlength">
          Subjects length must be at least {{ e['controls'].mainSubjects?.errors.minlength.requiredLength}} characters!
        </mat-error>
        <mat-error *ngIf="e['controls'].mainSubjects?.errors?.maxlength">
          Details length must be no more than {{ e['controls'].mainSubjects?.errors.maxlength.requiredLength}} characters!
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-button (click)="addNewEducationForm()">Add another</button>
    <button mat-button (click)="removeLastEducationForm()">Remove last</button>
  </div>
  <div>
    <button type="submit" [disabled]="!educationsForm.valid" mat-button matStepperNext (click)="emitData()">Next</button>
  </div>
</form>
