<form [formGroup]="educationsForm">
  <div *ngFor="let educationDetails of ed.controls; let i = index">
    <h5>Education details {{i + 1}}</h5>
    <div [formGroup]="educationDetails">
      <mat-form-field>
        <input matInput [matDatepicker]="fromDateEducationPicker" placeholder="Choose start date"
          formControlName="fromDate">
        <mat-datepicker-toggle matSuffix [for]="fromDateEducationPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDateEducationPicker></mat-datepicker>
        <mat-error *ngIf="edf.fromDate?.touched && edf.fromDate?.errors?.required">Start date is required!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="toDateEducationPicker" placeholder="Choose end date" formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="toDateEducationPicker"></mat-datepicker-toggle>
        <mat-datepicker #toDateEducationPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Location" formControlName="location">
        <mat-hint>Enter Location.</mat-hint>
        <mat-error *ngIf="edf.location?.touched && edf.location?.errors?.required">Location is required!</mat-error>
        <mat-error *ngIf="edf.location?.errors?.minlength">
          Location length must be at least {{edf.location.errors.minlength.requiredLength}} characters!
        </mat-error>
        <mat-error *ngIf="edf.location?.errors?.maxlength">
          Location length must be no more than {{edf.location?.errors.maxlength.requiredLength}} characters!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Education level" formControlName="educationLevel">
        <mat-hint>Enter major.</mat-hint>
        <mat-error *ngIf="edf.educationLevel?.touched && edf.educationLevel?.errors?.required">Education level is
          required!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Major" formControlName="major">
        <mat-hint>Enter major.</mat-hint>
        <mat-error *ngIf="edf.major?.touched && edf.major?.errors?.required">Major is required!</mat-error>
        <mat-error *ngIf="edf.major?.errors?.minlength">
          Major length must be at least {{edf.major?.errors.minlength.requiredLength}} characters!
        </mat-error>
        <mat-error *ngIf="edf.major?.errors?.maxlength">
          Major length must be no more than {{edf.major?.errors.maxlength.requiredLength}} characters!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput type="text" placeholder="Main subjects" formControlName="mainSubjects"></textarea>
        <mat-hint>Enter main subjects.</mat-hint>
        <mat-error *ngIf="edf.mainSubjects?.errors?.minlength">
          Subjects length must be at least {{edf.mainSubjects?.errors.minlength.requiredLength}} characters!
        </mat-error>
        <mat-error *ngIf="edf.mainSubjects?.errors?.maxlength">
          Details length must be no more than {{edf.mainSubjects?.errors.maxlength.requiredLength}} characters!
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-button (click)="addNewEducationForm()">Add another</button>
    <button mat-button (click)="removeLastEducationForm()">Remove last</button>
  </div>
  <div>
    <button mat-button matStepperNext (click)="emitData()">Next</button>
  </div>
</form>
