<form [formGroup]="coursesForm">
  <div *ngFor="let cInfo of c.controls; let i = index" class="mt-3">

    <h5>{{i + 1}}. Course Details:</h5>

    <div [formGroup]="cInfo">
      <div class="d-flex justify-content-start gap-3 mt-3">
        <mat-form-field>
          <input matInput type="text" placeholder="Course name" formControlName="courseName">
          <mat-hint>Enter course name.</mat-hint>
          <mat-error
            *ngIf="cInfo['controls']['courseName']?.touched && cInfo['controls']['courseName']?.errors?.['required']">Course
            name is required!</mat-error>
          <mat-error *ngIf="cInfo['controls']['courseName']?.errors?.['minlength']">
            Course name length must be at least {{cf['courseName'].errors?.['minlength']['requiredLength']}} characters!
          </mat-error>
          <mat-error *ngIf="cInfo['controls']['courseName']?.errors?.['maxlength']">
            Course name length must be no more than
            {{cInfo['controls']['courseName'].errors?.['maxlength']['requiredLength']}} characters!
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Sertificate url" formControlName="certificateUrl">
          <mat-hint>Enter sertificate url.</mat-hint>
          <mat-error *ngIf="cInfo['controls']['certificateUrl']?.errors?.['pattern']">
            Invalid url!
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-start gap-2 mt-2">
    <button mat-button color="primary" (click)="addNewCoursesFrom()">Add another</button>
    <button mat-button color="primary" (click)="removeLastCoursesForm()">Remove last</button>
  </div>
  <button *ngIf="!isEditMode" type="submit" [disabled]="!coursesForm.valid" mat-button class="mt-2" matStepperNext (click)="emitData()">
    Next
  </button>
  <button *ngIf="isEditMode" type="submit" [disabled]="!coursesForm.valid" mat-button class="mt-2" matStepperNext (click)="emitData()">
    Update
  </button>
</form>
