<form [formGroup]="coursesForm">
  <div *ngFor="let coursesInfo of c.controls; let i = index">
    <h5>Courses Details {{i + 1}}</h5>
    <div [formGroup]="coursesInfo">
      <mat-form-field>
        <input matInput type="text" placeholder="Course name" formControlName="courseName">
        <mat-hint>Enter course name.</mat-hint>
        <mat-error *ngIf="cf.courseName?.touched && cf.courseName?.errors?.required">Course name is required!</mat-error>
        <mat-error *ngIf="cf.courseName?.errors?.minlength">
          Course name length must be at least {{cf.courseName?.errors.minlength.requiredLength}} characters!
        </mat-error>
        <mat-error *ngIf="cf.courseName?.errors?.maxlength">
          Course name length must be no more than {{cf.courseName?.errors.maxlength.requiredLength}} characters!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Sertificate url" formControlName="certificateUrl">
        <mat-hint>Enter sertificate url.</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-button (click)="addNewCoursesFrom()">Add another</button>
    <button mat-button (click)="removeLastCoursesForm()">Remove last</button>
  </div>
  <div>
    <button mat-button matStepperNext (click)="emitData()">Next</button>
  </div>
</form>
