<form [formGroup]="skillsForm">
  <mat-form-field>
    <textarea matInput type="text" placeholder="Computer skills" formControlName="computerSkills"></textarea>
    <mat-hint>Enter computer skills.</mat-hint>
    <mat-error *ngIf="sf.computerSkills.errors?.minlength">
      Computer skills length must be at least {{sf.computerSkills.errors.minlength.requiredLength}} characters!
    </mat-error>
    <mat-error *ngIf="sf.computerSkills.errors?.maxlength">
      Computer skills length must be no more than {{sf.computerSkills.errors.maxlength.requiredLength}} characters!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput type="text" placeholder="Other skills" formControlName="skills"></textarea>
    <mat-hint>Enter other skills.</mat-hint>
    <mat-error *ngIf="sf.skills.errors?.minlength">
      Skills length must be at least {{sf.skills.errors.minlength.requiredLength}} characters!
    </mat-error>
    <mat-error *ngIf="sf.skills.errors?.maxlength">
      Skills length must be no more than {{sf.skills.errors.maxlength.requiredLength}} characters!
    </mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="hasManagedPeople">Managed People?</mat-checkbox>
  <mat-form-field>
    <input matInput type="text" placeholder="Driving category type" formControlName="drivingCategoryType">
    <mat-hint>Enter driving category.</mat-hint>
  </mat-form-field>
  <div>
    <button mat-button matStepperNext (click)="emitData()">Next</button>
  </div>
</form>
