<div class="container-fluid">

  <div class="d-flex justify-content-center">
    <h4>All CVs</h4>
  </div>

  <div class="d-flex justify-content-end me-5">
    <a routerLink="/create-cv" class="btn btn-primary mx-3">Create new</a>
  </div>

  <div class="table-responsive mt-2 mx-auto w-75">
    <table class="table mb-0" *ngIf="cvs$ | async as cvs">
      <thead>
        <tr>
          <th>Name</th>
          <th>CreatedOn</th>
          <th></th>
        </tr>
      </thead>
      @for(cv of cvs;track cv.id) {
      <tbody>
        <tr>
          <td>{{ cv.name }}</td>
          <td>{{ cv.createdOn | date }}</td>
          <td>
            <div class="d-flex gap-2">
              <a routerLink="details/{{cv.id}}" class="btn btn-outline-secondary">View</a>
              <button (click)="deleteCv(cv.id, cv.name)" class="btn btn-danger">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
      }
      @if(cvs.length === 0) {
        <tbody>
          <div class="d-flex my-3 text-info">No data records to show.</div>
        </tbody>
      }
    </table>
  </div>
</div>
