<mat-vertical-stepper [linear]="true" #stepper>
  <!-- Cv Details -->
  <mat-step [stepControl]="cvInfo">
    <ng-template matStepLabel>CV Details</ng-template>
    <app-cv-info (emitCvInfoData)="onPassedCvInfoData($event)">
    </app-cv-info>
  </mat-step>
  <!-- Personal Info -->
  <mat-step [stepControl]="personalDetails">
    <ng-template matStepLabel>Personal Info</ng-template>
    <app-personal-details
    [countries]="countries"
    (passFormData)="onPassedPersonalDetailsData($event)">
    </app-personal-details>
  </mat-step>
  <!-- Work Experience Info -->
  <mat-step [stepControl]="workExperiences">
    <ng-template matStepLabel>Work Experience</ng-template>
    <app-work-experiences
    [businessSectors]="businessSectors"
    (emitWorkExperiencesData)="onPassedWorkExperiencesData($event)">
    </app-work-experiences>
  </mat-step>
  <!-- Education -->
  <mat-step [stepControl]="educations">
    <ng-template matStepLabel>Education</ng-template>
    <app-education
    [educationLevels]="educationLevels$"
    (emitEducationData)="onPassedEducationData($event)">
    </app-education>
  </mat-step>
  <!-- Languages -->
  <mat-step [stepControl]="languagesInfo">
    <ng-template matStepLabel>Languages Info</ng-template>
    <app-languages-info
    [languageTypes]="languageTypes$"
    [languageLevels]="languageLevels$"
    (emitLanguagesInfo)="onPassedLanguagesInfo($event)">
    </app-languages-info>
  </mat-step>
  <!-- Skills  Add DrivingCategories-->
  <mat-step [stepControl]="skillsInfo">
    <ng-template matStepLabel>Skills</ng-template>
    <app-skills
    [drivingCategories]=""
    (emitSkillsData)="onPassedSkillsInfoData($event)">
    </app-skills>
  </mat-step>
  <!-- Courses and Certificates -->
  <mat-step [stepControl]="coursesCertificates">
    <ng-template matStepLabel>Courses and certificates</ng-template>
    <app-courses-certificates (emitCoursesData)="onPassedCoursesData($event)">
    </app-courses-certificates>
  </mat-step>
  <!-- Done step -->>
  <mat-step>
    <ng-template matStepLabel>Submit your data</ng-template>
    You are now done.
    <div>
      <button mat-button color="success" (click)="sendCVdata()">Create</button>
      <button mat-button color="primary" matStepperPrevious>Back</button>
      <button mat-button color="danger" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
