<h3>My account</h3>

<div class="w-50 mx-auto">
  <div>
    <a routerLink="cvs">
      <h2>My CVs</h2>
    </a>
    <div>
      <small>Here you can create your CV.</small>
    </div>
  </div>
  <div>
    <a routerLink="cvs">
      <h2>Notepads</h2>
    </a>
    <div>
      <small>Here you can view the job ads you have added with "Save job ad to notepad"</small>
    </div>
  </div>
  <div>
    <a routerLink="cvs">
      <h2>Job Applications</h2>
    </a>
    <div>
      <small>Review your job applications.</small>
    </div>
  </div>
</div>
