<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h4>My Profile</h4>
  </div>

  <div class="w-50 ms-5">
    <div>
      <a routerLink="/my-cvs">
        <h5>View all CVs</h5>
      </a>
      <small>Here you can view all CVs or create a new one.</small>
    </div>
    <div class="mt-3">
      <a routerLink="cvs">
        <h5>Notepads</h5>
      </a>
      <small>Here you can view the job ads you have added with "Save job ad to notepad"</small>
    </div>
    <div class="mt-3">
      <a routerLink="cvs">
        <h5>Job Applications</h5>
      </a>
      <small>Review your job applications.</small>
    </div>
  </div>
</div>
