<div class="container-fluid pb-3">
  @if (cv) {

  <div class="card my-3 w-50 mx-auto">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="'https://forum.gtsofia.info/index.php?action=dlattach;attach=62583;type=avatar'"
          class="img-fluid rounded m-1" alt="cv picture">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ fullName }}</h5>
          <div class="card-text">
            <div>
              <span class="fw-medium">Birth Date: </span>
              <span class="card-text">{{ cv.personalDetails.birthdate | date }}</span>
            </div>
            <div>
              <span class="fw-medium">Citizenship: </span>
              <span class="card-text">{{ cv.personalDetails.citizenShip }}</span>
            </div>
            <div>
              <span class="fw-medium">I live in: </span>
              <span class="card-text">{{ cv.personalDetails.city }}</span>
            </div>
            <span class="fs-5 fw-medium">Contacts:</span>
            <div>
              <span class="fw-medium">Email: </span>
              <span class="card-text">{{ cv.personalDetails.email }}</span>
            </div>
            <div>
              <i class="bi bi-phone"></i>
              <span class="fw-medium">Phone: </span>
              <span class="card-text">{{ cv.personalDetails.phone }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-3 w-75 mx-auto">
    <h6 class="card-header">Work Experience</h6>
    <div class="card-body">
      @for (item of cv.workExperiences; track item.id) {
      <div>
        <h6>{{ item.organization }}</h6>
        <small class="fw-bold">{{ item.fromDate | date }} - {{ item.toDate | date}}</small>
        <small>{{ item.location }} Bussiness Sector: {{ item.businessSector }}</small>
        <div class="fs-5">{{ item.jobTitle }}</div>
        <span class="card-text">{{ item.additionalDetails }}</span>
      </div>
      }
    </div>
    <div class="card-footer text-muted text-center">
      <a (click)="editWorkExperienceInfo(modal)">edit</a>
    </div>
  </div>

  <div class="card my-3 w-75 mx-auto">
    <h6 class="card-header">Education</h6>
    <div class="card-body">
      @for (item of cv.educations; track item.id) {
      <div>
        <h6>{{ item.organization }}</h6>
        <span>{{ item.fromDate | date}} - {{ item.toDate | date}}</span>
        <div class="fs-5">{{ item.location }}</div>
        <div class="fs-5">Level: {{ item.educationLevel.viewValue }}</div>
        <div class="fs-5">{{ item.major }}: </div>
        <span class="card-text">Main subjects: {{ item.mainSubjects }}</span>
      </div>
      }
    </div>
    <div class="card-footer text-muted text-center">
      <a (click)="editEducations(modal)">edit</a>
    </div>
  </div>

  <div class="card my-3 w-75 mx-auto">
    <h5 class="card-header">Languages</h5>
    <div class="card-body">
      @for (item of cv.languagesInfo; track item.languageType) {
      <div>
        <span class="fw-bold">{{ item.languageType.viewValue }}: </span>
        <span class="card-text">
          Comprehension: {{ item.comprehension.viewValue }}, Speaking: {{ item.speaking.viewValue }}, Writing: {{ item.writing.viewValue }}
        </span>
      </div>
      }
    </div>
    <div class="card-footer text-muted text-center">
      <a (click)="editLanguagesInfo(modal)">edit</a>
    </div>
  </div>

  <div class="card my-3 w-75 mx-auto">
    <h5 class="card-header">Skills</h5>
    <div class="card-body">
      <span class="card-text">Computer skills:</span>
      <p>{{ cv.skills.computerSkills }}</p>
      <span class="card-text">Other skills:</span>
      <p>{{ cv.skills.skills }}</p>
    </div>
  </div>

  <div class="card my-3 w-75 mx-auto">
    <h5 class="card-header">Courses and Certificates</h5>
    <div class="card-body">
      @for (item of cv.courseCertificates; track item.id) {
      <div>
        <p>
          <span class="card-text fw-bold">{{ item.courseName}}: </span>
          <a class="link-opacity-50-hover" [href]="item.certificateUrl">
            {{ item.certificateUrl }}
          </a>
        </p>
      </div>
      }
    </div>
    <div class="card-footer text-muted text-center">
      <a (click)="editCoursesInfo(modal)">edit</a>
    </div>
  </div>

  }

  <div #modal class="modal fade modal-lg" id="myModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6>{{ editCvSectionTitle }}</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ng-container #editCvSectionComponent></ng-container>
        </div>
        <div class="modal-footer">
          <button (click)="onCloseModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
